<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs'); -%>
  <body>
    <section class="section">
      <div class="container">
        <figure class="image">
          <img src="/images/diary.png" alt="chat" />
        </figure>
        <div class="container">
          <q class="subtitle">
            Journaling is like whispering to one’s self and listening at the
            same time.
          </q>
          <figcaption class="white mb-4">&mdash; An Aspiring Writer</figcaption>
          <form action="/" method="POST">
            <div class="has-text-centered mt-6">
              <button
                class="button mx-4 px-4"
                name="button"
                type="submit"
                value="register"
              >
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <%- include('partials/footer.ejs'); -%>
  </body>
</html>
