<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs'); -%>
  <body>
    <section class="section has-text-centered">
      <h1 class="title white mb-6">Your Entries</h1>
      <!-- for -->
      <div class="message is-warning my-6">
        <div class="message-body">
          <p class="is-size-5 has-text-weight-semibold" id="blue">
            Welcome! Pen down your thoughts. Enjoy!
          </p>
        </div>
      </div>
      <!-- end for loop -->
      <form action="/secrets" method="POST">
        <!-- <div class="field"> -->

        <div class="field is-grouped">
          <a
            class="button"
            href="/logout"
            id="btn"
            type="submit"
            name="button"
            value="logout"
          >
            LogOut
          </a>
          <a
            class="button ml-6"
            href="/submit"
            id="btn"
            type="submit"
            name="button"
            value="submit"
          >
            Submit Entry
          </a>
        </div>

        <!-- </div> -->
      </form>
    </section>
    <%- include('partials/footer.ejs'); -%>
  </body>
</html>
