<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs'); -%>
  <body>
    <section class="section has-text-centered">
      <h1 class="title white mb-6">Your Entries</h1>
      <!-- for -->
      <div class="message is-dark my-6">
        <div class="message-body">
          <p class="subtitle">First note</p>
        </div>
      </div>
      <!-- end for loop -->
      <form action="/secrets" method="POST">
        <!-- <div class="field"> -->
        <p id="p-secret">Submit your Entry</p>
        <div class="field is-grouped">
          <button
            class="button"
            id="btn"
            type="submit"
            name="button"
            value="logout"
          >
            LogOut
          </button>
          <button
            class="button ml-6"
            id="btn"
            type="submit"
            name="button"
            value="submit"
          >
            Submit
          </button>
        </div>

        <!-- </div> -->
      </form>
    </section>
    <%- include('partials/footer.ejs'); -%>
  </body>
</html>
