<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs'); -%>
  <body>
    <section class="section has-text-centered">
      <h1 class="title white mb-6">Your Entries</h1>
      <%if(posts.length===0){%>
      <div class="level box my-6 px-5" id="post">
        <div class="level-right">
          <p class="is-size-5 has-text-weight-semibold level-item">
            Submit your Entry
          </p>
        </div>
      </div>
      <%}%> <%for (let post of posts){%>
      <div class="box level my-6">
        <!-- <div class="header">
          <p><post.createdAt%></p>
        </div> -->
        <div class="level-right">
          <p class="is-size-5 has-text-weight-semibold level-item">
            <!-- Welcome! Pen down your thoughts. Enjoy! -->
            <%= post.content %>
          </p>
        </div>
      </div>
      <%}%>

      <form action="/secrets" method="POST">
        <!-- <div class="field"> -->

        <div class="field is-grouped">
          <a
            class="button"
            href="/logout"
            id="btn"
            type="submit"
            name="button"
            value="logout"
          >
            LogOut
          </a>
          <a
            class="button ml-6"
            href="/submit"
            id="btn"
            type="submit"
            name="button"
            value="submit"
          >
            Submit
          </a>
        </div>

        <!-- </div> -->
      </form>
    </section>
    <%- include('partials/footer.ejs'); -%>
  </body>
</html>
