<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs'); -%>
  <body>
    <h1 class="title">Your Entries</h1>
    <% for(let item of secrets) {%>
    <div class="card">
      <div class="card-content">
        <p><%= item %></p>
      </div>
    </div>
    <% } %>
    <form action="/secrets" method="POST">
      <div class="field">
        <h2 class="subtitle">Submit your Entry</h2>
        <button class="button" type="submit" name="submit">Submit</button>
      </div>
    </form>

    <%- include('partials/footer.ejs'); -%>
  </body>
</html>
