body,
html {
  background: linear-gradient(80deg, #127681, #10375c);
  font-family: "Montserrat", sans-serif;
}

.white {
  color: #ffffff;
}

#blue {
  color: #10375c;
}

.title {
  font-weight: 700;
}

/* navigation */
.navbar {
  background: linear-gradient(80deg, #3b5874, #0a474e);
}

.navbar-item p {
  font-family: "Modak", cursive;
  font-size: 2em;
  color: #fff;
}

/* home page */

.section {
  display: grid;
  place-items: center;
}

.container .image {
  width: 23em;
  height: 23em;
}

.section p {
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  margin: 1em 0 0;
}

.button {
  border: 1px solid #10375c;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  background: transparent;
  color: #ffffff;
  font-weight: 700;
}

.button:hover,
.button:active {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px rgb(248, 239, 239);
  transform: translateY(-5px);
  color: #10375c;
  font-weight: 700;
}

/* login & register */
.box {
  width: 500px;
  height: 450px;
  background-color: #ffffff;
  margin-top: 5em;
}

.field .button {
  color: #10375c;
  font-weight: 700;
}

.field .button:hover,
.button:active {
  background-color: #10375c;
  color: #ffffff;
  font-weight: 700;
}

/* submit page */

.hero .title,
.subtitle {
  color: #ffffff;
  font-weight: 700;
}

.hero-body .container .field .input {
  width: 70%;
  margin-bottom: 1em;
}
.hero-body .container .field .button {
  color: #ffffff;
  font-weight: 700;
}

.hero-body .container .field .button:hover,
.button:active {
  background-color: #ffffff;
  color: #10375c;
  font-weight: 700;
}

/* secrets page */
#btn {
  color: #ffffff;
}
#btn:hover,
#btn:active {
  background-color: #ffffff;
  color: #10375c;
}
#p-secret {
  font-size: 1.5em;
  font-weight: 200;
  margin-bottom: 1em;
}

/* media queries */

@media (max-width: 575.9px) {
  .box {
    margin: 1em 2em 1em 3em;
    width: 80%;
    height: 60%;
  }
  .button {
    margin-top: 1em;
    display: inline-block;
  }
}
